discord.py
discord.py[voice]
deep-translator
langdetect
yt-dlp>=2025.1.1
PyNaCl
wavelink>=3.4.0
spotipy
python-dotenv
discord.py>=2.4.0
python-dotenv>=1.0.1
yt-dlp>=2025.1.0
PyNaCl>=1.5.0
ffmpeg-python>=0.2.0
